.product-card-wrapper {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-card__link {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    overflow: hidden;
}

.product-card {
    padding: 16px;
    transition: box-shadow 0.3s ease;
    position: relative;
    cursor: pointer;
    width: 100%;
}

.product-card:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-card__imageWrapper {
    position: relative;
    width: 100%;
    height: 440px;
    margin-bottom: 24px;
}

.product-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-card__cartButton {
    display: none;
    position: absolute;
    right: 30px;
    bottom: -25px;
    background-color: #5ece7b;
    color: white !important;
    border: none;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    cursor: pointer;
    box-shadow: 0 4px 11px rgba(29, 31, 34, 0.1);
    z-index: 10;
}

.product-card:hover .product-card__cartButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card__cartButton:hover {
    background-color: #4bac63;
}

.product-card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-card__name {
    font-size: 18px;
    font-weight: 300;
    color: #1d1f22;
    margin-bottom: 0;
}

.product-card__price {
    width: 58px;
    height: 29px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 160%;
    font-weight: 700;
    color: #1d1f22;
    opacity: 1;
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.product-card__outOfStock {
    opacity: 0.5;
}

.product-card__overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #8d8f9a;
    white-space: nowrap;
    visibility: hidden;
}


@media (max-width: 1024px) {
    .product-card__name {
        font-size: 16px;
    }

    .product-card__price {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .product-card {
        padding: 12px;
    }

    .product-card__cartButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        right: 12px;
        bottom: -22px;
    }

    .product-card__name {
        font-size: 16px;
    }

    .product-card__price {
        font-size: 16px;
    }

    .product-card__imageWrapper {
        height: 320px;
    }
}



@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #e0e0e0;
    }
}